*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato','Sans Serif';
}

body{
    height: 100vh;
    background: url(img.avif) no-repeat center center/ cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

#add-task-container{
    width: 350px;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;

    display: flex;
}

input{
    flex: 5;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 5px;
}

#add-task{

    flex:1;
    font-size: 1.1rem;
    padding: 5px;
    background-color: #fff;
    color: green;
    border: green solid 2px;
    border-radius: 10px;
}

#add-task:hover{
    background-color: green;
    color: #fff;
}